name: "Receive Pull Request"

on:
  pull_request:
    types:
      [opened, synchronize, reopened]

jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - name: "Create PR Number"
        id: get-number
        run: |
          echo ${{ github.event.number }} > NUM
      - name: "Upload Artifact"
        id: upload-number
        uses: actions/upload-artifact@v2
        with:
          name: pr
          path: NUM
          retention-days: 1
